{:paths ["src" "target/classes"]
 :aliases
 {;; Run with clj -T:build function-in-build
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
   :ns-default build}
  :test
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                ch.qos.logback/logback-classic {:mvn/version "1.1.3"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner"]}
  :codox
  {:extra-deps {codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}
                com.cnuernber/codox {:mvn/version "1.001"}}
   :exec-fn codox.main/-main
   :exec-args {:group-id "com.cnuernber"
               :artifact-id "charred"
               ;;Change this also in build.clj
               :version "1.029"
               :name "Charred"
               :description "Fast (as anything on the JVM) simple csv and json reading/writing"
               :metadata {:doc/format :markdown}
               :html {:transforms [[:head] [:append [:script {:async true
                                                              :src "https://www.googletagmanager.com/gtag/js?id=G-XJYNJF48RM"}]]
                                   [:head] [:append [:script "window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XJYNJF48RM');"]]]}
               :themes [:rdash]
               :source-paths ["src"]
               :output-path "docs"
               :doc-paths ["topics"]
               :source-uri "https://github.com/cnuernber/charred/blob/master/{filepath}#L{line}"
               :namespaces [charred.api
                            charred.coerce
                            charred.parallel
                            charred.bulk]}}
  :deploy
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote
               :sign-releases? true
               :artifact "target/charred.jar"}}
  :install
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :local
               :artifact "target/charred.jar"}}}}
